<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>JavaHelloWorldApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
    	<description></description>
    	<display-name>ControladorAgregarEntidad</display-name>
    	<servlet-name>ControladorAgregarEntidad</servlet-name>
    	<servlet-class>controladores.ControladorAgregarEntidad</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>ControladorAgregarEntidad</servlet-name>
    	<url-pattern>/ControladorAgregarEntidad</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<description></description>
    	<display-name>RegistrarEncargado</display-name>
    	<servlet-name>RegistrarEncargado</servlet-name>
    	<servlet-class>controladores.RegistrarEncargado</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>RegistrarEncargado</servlet-name>
    	<url-pattern>/RegistrarEncargado</url-pattern>
  	</servlet-mapping>

  	<servlet>
    	<description></description>
    	<display-name>RegistrarSala</display-name>
    	<servlet-name>RegistrarSala</servlet-name>
    	<servlet-class>controladores.RegistrarSala</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>RegistrarSala</servlet-name>
    	<url-pattern>/RegistrarSala</url-pattern>
  	</servlet-mapping>

  	<servlet>
    	<description></description>
    	<display-name>RegistrarReservaSala</display-name>
    	<servlet-name>RegistrarReservaSala</servlet-name>
    	<servlet-class>controladores.RegistrarReservaSala</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>RegistrarReservaSala</servlet-name>
    	<url-pattern>/RegistrarReservaSala</url-pattern>
  	</servlet-mapping>




</web-app>
